a {
  text-decoration: none;
  color: #4F92D7;
}

  a:hover, a:active {
    color: lightgray;
  }

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  border-radius: 3px;
}

@media(max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}

img{
    max-height: 64px;
}

.mat-toolbar.mat-primary
{
    background-color: #fafafa;
}
