<header>
  <mat-toolbar color="primary">
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <a class="navbar-brand" [routerLink]="['/']">
        <img class="img-fluid" alt="Район Аспарухово" src="/assets/brand/asparuhovo-logo.png">
      </a>
      <!--<a routerLink="/home">Owner-Account</a>-->
    </div>
    <div fxFlex fxLayout fxLayoutAlign="space-around" fxHide.xs>
      <span fxLayout fxLayoutGap="15px" class="navigation-items">
        <span *ngFor="let item of (menuList$ | async)">
          <span *ngIf="item.children && item.children.length > 0">
            <button  mat-menu-item [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">{{item.text}}</button>
            <app-menu-item #menu [items]="item.children"></app-menu-item>
          </span>
          <span *ngIf="!item.children || item.children.length === 0">
            <button mat-menu-item [routerLink]="item.routerLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="downloadFile()">{{item.text}}</button>
          </span>
        </span>
      </span>
    </div>
  </mat-toolbar>

  <!--<div *ngIf="(menuList$ | async) as IMenu">
    <h1>{{(menuList$ | async) | json}}</h1>
  </div>-->
</header>
