mat-button-toggle-group, mat-form-field{
    width: 100%;
}

mat-button-toggle {
    flex-grow: 2;
    border: none;
}

.ok{
    background-color: #f44336; 
    color: white;
}

.close{
    background-color: grey; 
    color: white;
}

.form-group {
    padding-top: 5px;
    margin-top: 10px;
  }
  
  .margin-left mat-radio-button:not(:first-child) {
    margin-left: 10px;
  }
  
  .form-container {
    margin: 100px;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  input.ng-valid {
    border-left: 5px solid green;
  }
  
  input.ng-invalid.ng-dirty,
  input.ng-invalid.ng-touched {
    border-left: 5px solid red;
  }
  
  input.ng-valid ~ .valid-feedback,
  input.ng-invalid ~ .invalid-feedback {
    display: block;
  }
  