<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <div *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.subMenus && child.subMenus.length > 0">
      <span>
        <!--<a [routerLink]="['{{child.action}}']"> {{child.title}} </a>-->
        <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">{{child.title}}</button>
      </span>
    <app-menu-item #menu [items]="child.subMenus"></app-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.subMenus || child.subMenus.length === 0">
      <span>

      <!--<a mat-button color="primary" [routerLink]="['{{child.action}}']">{{child.title}}</a>-->
        <button mat-menu-item routerLink="['{{child.action}}']" routerLinkActive="active">{{child.title}}</button>
        
      </span>
    </span>
  </div>
</mat-menu>


