<h1 mat-dialog-title>{{ data.title }}</h1>
<mat-dialog-content>
  <form [formGroup]="categoryForm">
    <div class="form-group">
      <label for="number">Номер на услуга</label>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Въведете номер на услуга</mat-label>
        <input [disableControl]="isoServiceItem?.id" matInput formControlName="number" />
        <!-- <mat-error *ngIf="form.get('number').hasError('required')">
          Моля въведете номер на услуга
        </mat-error> -->
      </mat-form-field>

      <label for="name">Име на услуга</label>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Въведете име на услуга</mat-label>
        <input [disableControl]="isoServiceItem?.id" matInput formControlName="name" />
      </mat-form-field>

      <label for="department">Дирекция</label>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Изберете дирекция за услугата</mat-label>
        <mat-select [disableControl]="isoServiceItem?.id" formControlName="department" required>
          <mat-option>--</mat-option>
          <mat-option
            *ngFor="let department of departments"
            [value]="department"
          >
            {{ department.name }}
          </mat-option>
        </mat-select>
        <!-- <mat-hint>{{department.value?.sound}}</mat-hint> -->
      </mat-form-field>

      <div *ngIf="isoServiceItem?.id" class="cotainer">
        <div class="row">
          <div class="col-6"><h2>Файлове:</h2></div>
          <div class="col-6 right">
            <button mat-raised-button (click)="addButtonCategory()">
              Добави фаил
            </button>
          </div>
        </div>

        <div class="row">
          <div formArrayName="buttonCategories">
            <div
              *ngFor="
                let quantity of buttonCategories().controls;
                let i = index
              "
              [formGroupName]="i"
            >
              <div>
                <mat-divider></mat-divider>
                <upload-category
                  ngDefaultControl
                  [isoFileCategories]="this.isoFileCategories"
                  [isoServiceId]="isoServiceItem?.id"
                  formControlName="buttonsWithCategory"
                ></upload-category>
                
              </div>
              <div>
                <!-- <button (click)="removeButtonCategory(i)" class="btn btn-danger">
                  Remove
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <button type="submit" class="btn btn-success">Submit</button> -->

      <!-- {{ categoryForm.value | json }}
      {{ categoryForm.valid }} -->
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions >
  <button mat-raised-button mat-dialog-close (click)="onCancelClick()">
    Cancel
  </button>
  <button *ngIf="!isoServiceItem?.id"
  [disabled]="!categoryForm.valid"
    color="primary"
    mat-raised-button
    (click)="onSaveClick()"
  >
    Save
  </button>
  <button *ngIf="isoServiceItem?.id"
    color="primary"
    mat-raised-button
    cdkFocusInitial
    [mat-dialog-close]="true"
    [mat-dialog-close]="data.serviceNumber"    
    
  >
    OK
  </button>
</mat-dialog-actions>
