
h1 {
  text-align: center;
  padding: 20px;
}

/* Structure */
table {
  width: 100%;
}

  table th {
    font-weight: bold;
  }


.mat-form-field {
  font-size: 14px;
  width: 120px;
}


.mat-row:hover .mat-cell {
  background-color: aliceblue;
}

.mat-column-id {
  border-right: 1px solid currentColor;
  padding-right: 15px; 
  text-align: center;
  width: 3%;
  color: #3498DB;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
  padding-left: 15px;
}

.mat-column-fullName {
  padding-left: 16px;
  text-transform: uppercase;
  width: 10%;
}

.mat-column-position {
  padding-left: 16px;
  text-transform: uppercase;
  width: 10%;
}

.mat-column-phone {
  text-transform: uppercase;
  width: 5%;
}

.mat-column-workPhone {
  text-transform: uppercase;
  width: 5%;
}

.mat-column-privatePhone {
  text-transform: uppercase;
  width: 5%;
}

.mat-column-room {
  text-transform: uppercase;
  width: 3%;
}

.mat-column-email {
  width: 32px;
  text-align: left;
  text-transform: uppercase;
  width: 10%;
}

.mat-column-departments {
  width: 32px;
  text-align: left;
  text-transform: uppercase;
  width: 10%;
}

.mat-column-action {
  text-align: left;
  text-transform: uppercase;
  width: 7%;
}

.mat-select {
  width: 95% !important;
  min-width: 95% !important;
  max-width: 95% !important;
  cursor: pointer !important;
  color: rgb(125, 125, 125) !important;
}


th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}


.add-button {
  color: #3498DB;
}
.export-button {
  color: #3498DB;
}

.mat-elevation-z8 > button {
  float: right;
  border-color: gainsboro;
  border-style: solid;
  padding: 5px 5px 0px 5px;
  font-size: 14px;
  margin-left: 10px;
}

  .mat-elevation-z8 > button::after {
    content: "";
    display: block;
    clear: both;
  }

.mat-paginator-range-label {
  display: none;
}


/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
  /* background-color: white; */
}
/* Font color */
input.mat-input-element {
  color: rgb(0, 0, 0);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #3498DB;
}



::ng-deep td .mat-form-field-wrapper{
  padding-bottom: 0 !important;
}

::ng-deep td .mat-form-field-infix{
  border-top: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1.1em 0 1.4em 0;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
  /* padding-top: 10px; */
}

