
h1{
  text-align: center;  
}

/* Structure */
table {
  width: 100%;
}

table th {
  font-weight: bold;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-column-id {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
  width: 5%;
  color: #3498DB;

}

.mat-column-fullName {
  padding-left: 16px;
  text-transform: uppercase;
  width: 30%;
}

.mat-column-phone {
  text-transform: uppercase;
  width: 15%;
}

.mat-column-email {
  width: 32px;
  text-align: left;
  text-transform: uppercase;
  width: 15%;
}

.mat-column-departments {
  width: 32px;
  text-align: left;
  text-transform: uppercase;
  width: 18%;
}



.mat-select {
  width: 95% !important;
  min-width: 95% !important;
  max-width: 95% !important;
  cursor: pointer !important;
  color: rgb(125, 125, 125) !important;
}


.mat-column-action {
  width: 32px;
  text-align: left;
  text-transform: uppercase;
  width: 10%;
}


.add-button{
  color:#3498DB;
}
.mat-elevation-z8>button{
  float: right;
  border-color: #3498DB;
  padding: 5px 5px 0px 5px;
  font-size: 14px;
}

.mat-elevation-z8>button::after {
  content: "";
  display: block;
  clear: both;
}

.mat-paginator-range-label {
    display: none;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
  /* background-color: white; */
}
/* Font color */
input.mat-input-element {
  color: rgb(0, 0, 0);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary{
  color:#3498DB;
}
