<div class="content">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ title }}</h1>
    </div>
    <div class="col-md-3">
      <a (click)="onAdd()" class="float">
        <mat-icon>add</mat-icon>
        </a>
    </div>


  </div>
  <div class="row">
    <div class="col-md-9">
      <section fxLayout="column" fxFlexAlign="stretch">
        <div class="mat-elevation-z8">
          <span [innerHTML]="content | sanitizeHtml"></span>
        </div>
      </section>
    </div>

    <div class="col-md-3">
      <section fxLayout="column" fxFlexAlign="stretch">
      <div class="list-item">
        <app-last-items
          [items]="homeListItemsOrders"
          [title]="listTitle2"
          [routerLink]="isoRouterLink2"
        ></app-last-items>
      </div>
      <div class="list-item">
        <app-last-items
          [items]="homeListItemsIsoServices"
          [title]="listTitle1"
          [routerLink]="isoRouterLink1"
        ></app-last-items>
      </div>
      <div class="list-item">
        <app-last-items
          [items]="homeListItemsStateNewspapers"
          [title]="listTitle3"
          [routerLink]="isoRouterLink3"
        ></app-last-items>
      </div>
    </section>
    </div>
  </div>
</div>

<!--<app-nav-menu></app-nav-menu>-->
