<!--<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</body>-->
<!--<body>
  <div class="container">
    <mat-sidenav-container>
      <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    </div>
</body>-->
<!--<body>
  <div class="container" fxFlex="100">
    <mat-sidenav-container fxLayout="column" fxFlexFill>
      <mat-sidenav #sidenav role="navigation">
        <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main>
          <router-outlet></router-outlet>
        </main>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>-->

<!--
    <app-side-navbar></app-side-navbar>
    <router-outlet></router-outlet>
    <app-menu [trigger]="'Trigger'"
              [data]="initialData"
              [isRootNode]="true"></app-menu>
  -->

<app-side-navbar></app-side-navbar>
<router-outlet></router-outlet>
