<mat-nav-list >
  <mat-list-item *ngFor="let child of items">
    <span *ngIf="child.subMenus && child.subMenus.length > 0">
      <span class="nav-caption">
        <a matLine href="{{ child.action }}">{{ child.title }}</a>
        <app-side-menu-item #menu [items]="child.subMenus"></app-side-menu-item>
      </span>
      <app-menu-item #menu [items]="child.subMenus"></app-menu-item>
    </span>
    <span *ngIf="!child.subMenus || child.subMenus.length === 0">
      <a matLine href="{{ child.action }}">{{ child.title }}</a>
    </span>
  </mat-list-item>
</mat-nav-list>
