h1 {
  text-align: center;
}

a {
  cursor: pointer;
}

table {
  width: 100%;
}

table th {
  font-weight: bold;
  text-transform: uppercase;
}

.table>:not(:first-child) {
  border-top: 1px solid #3498DB;
  ;
}

table tbody td {
  font-size: 14px;
  vertical-align: baseline;
  padding-top: 0;
  padding-bottom: 0;
}

table tbody tr:hover {
  background-color: #FAFAFA;
}

table thead tr th {
  width: 50%;
}

.element-detail th {
  color: rgba(0, 0, 0, .54);
  font-size: 12px;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 80px;
  text-align: center;
  font-weight: bold;
}

.element-name {
  height: 60px;
}

.element-name::before {
  content: '\0023';
}

.mat-column-isoServicenumber {

  padding-right: 15px;
  text-align: center;
  width: 5%;
  color: #3498DB;
}

.mat-column-isoServiceName {
  padding-left: 10px;
  width: 75%;
  line-height: normal;
}

.mat-column-departments {
  padding-left: 10px;
  width: 10%;
  line-height: normal;
}

.mat-column-action {
  padding-left: 10px;
  width: 10%;
  line-height: normal;
  min-width: 120px;
}

.element-description {
  padding-bottom: 5px;
}

.element-description-attribut {
  opacity: 0.5;
  text-decoration: underline;
  flex-grow: 1;
  margin-bottom: auto;
}

.element-description-button {
  text-align: right;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-row:hover .mat-cell {
  background-color: aliceblue;
}


.add-button {
  color: #3498DB;
}

.mat-elevation-z8>button {
  float: right;
  padding: 0px 0px 0px 0px;
  border: #3498DB 1px solid;
  border-radius: 3px;
  border-spacing: 10px;
  font-size: 0px;
  margin: 3px;
}

.mat-elevation-z8>button::after {
  content: "";
  display: block;
  clear: both;
}

.mat-paginator-range-label {
  display: none;
}

/* Border */
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgb(255, 255, 255);
  /* background-color: white; */
}

/* Font color */
input.mat-input-element {
  color: rgb(0, 0, 0);
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: #3498DB;
}





/* Structure */
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 15px;
}

.mat-select {
  width: 95% !important;
  min-width: 95% !important;
  max-width: 95% !important;
  cursor: pointer !important;
  color: rgb(125, 125, 125) !important;
}

.mat-select-value {
  cursor: pointer;
}

mat-form-field input {
  cursor: pointer;
}

.mat-button {
  width: 100%;
}

.element-description.container{
  padding-top: 10px;
}

.mat-form-field-appearance-legacy {
  cursor: text;
}

::ng-deep td .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

::ng-deep td .mat-form-field-infix {
  /* border-top: 0; */
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 1.1em 0 1.4em 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  /* padding-top: 10px; */
}