<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/owner" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Owner Actions</span>
  </a>
  <a mat-list-item routerLink="#" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Account Actions</span>
  </a>
  <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
  </mat-list-item>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onSidenavClose()">View profile</button>
    <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
  </mat-menu>


  console.log(JSON.stringify(menu));

  <!--<span *ngFor="let item of menu">
    <span *ngIf="item.subMenus && item.subMenus.length > 0">
      <a [routerLink]="['{{item.action}}']" [matMenuTriggerFor]="menu.childMenu"> {{item.title}} </a>
      <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">{{item.title}}</button>
      <mat-menu #menu [items]="item.subMenus"></mat-menu>
    </span>
    <span *ngIf="!item.subMenus || item.subMenus.length === 0">
      <a [routerLink]="['{{item.action}}']">{{item.title}}</a>
      <button mat-button [matMenuTriggerFor]="menu.childMenu" [disabled]="item.disabled">{{item.title}}</button>
    </span>
  </span>-->



</mat-nav-list>
<div *ngIf="(menuList$ | async) as IMenu">
  <h1>{{(menuList$ | async) | json}}</h1>
</div>


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <!-- This is the tree node template for leaf nodes -->
  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
    {{node.title}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.title">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      {{node.title}}
    </div>
    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
         role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
