.container {
  display: flex;
  width: 80%;
  flex-direction: column;
}
.content {
  margin-top: 35px;
}



.example-tree-invisible {
  display: none;
}

/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 25px;
}

.mat-tree .mat-tree-node:hover{
  cursor: pointer;
  background-color: aqua;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
  cursor: pointer;
}

.mat-icon-button:hover{
  background-color:deepskyblue;
}
