a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}



.basic-container {
  padding: 0 0 400px 0;
}

  .basic-container .menu-bar {
    min-height: auto;
  }

    .basic-container .menu-bar .mat-toolbar-row {
      height: auto;
    }

.version-info {
  font-size: 8pt;
  float: right;
  padding: 8px;
}
