<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #f2f2f2;">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">
        <img src="/assets/brand/asparuhovo-logo.png" alt="" width="500">
      </a>

      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Начало</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!--<h1>Cities</h1>
<p>Here's a list of cities: feel free to play with it.</p>
<p *ngIf="!menu"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel"
       [hidden]="!menu">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let mnu of menu">
      <td>{{ mnu.id }}</td>
      <td>{{ mnu.title }}</td>
      <td>{{ mnu.description }}</td>
      <td>{{ mnu.action }}</td>
    </tr>
  </tbody>
</table>-->

