<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <div *ngFor="let child of items">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.children && child.children.length > 0">
      <span>
        <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">{{child.text}}</button>
      </span>
      <app-menu-item #menu [items]="child.children"></app-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.children || child.children.length === 0">
      <span>

        <button *ngIf="child.document; else elseBlock" [matTooltip]="child.text.length > maxLenghtForTooltip ? child.text : null"
          matTooltipPosition="left" mat-menu-item (click)="downloadFile(child.document.id)">{{child.text}}</button>

        <ng-template #elseBlock><button [matTooltip]="child.text.length > maxLenghtForTooltip ? child.text : null" matTooltipPosition="left" mat-menu-item
          [routerLink]='child.routerLink' routerLinkActive="active">{{child.text}}</button></ng-template>

      </span>
    </span>
  </div>
</mat-menu>